<div class="modal">
  <div class="modal-content">
    <h2>¿Estas seguro de eliminar el producto {{ productName }}?</h2>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="column d-flex just-content-center">
        <button class="btn btn-secondary" (click)="handleConfirm(false)">
          Cancelar
        </button>
      </div>
      <div class="column d-flex just-content-center">
        <button class="btn btn-primary" (click)="handleConfirm(true)">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
<div (click)="handleToggleModal()" class="overlay"></div>
